<nav>
    <button class="btn btn-primary" type="submit" id = "Back">Back</button>
</nav>
<body>
    <table class = "table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Delete</th>
        </tr>
        <tbody id="adminTable">

        </tbody>
    </table>
</body>
<script type="text/javascript" src="/js/admincatalog.js"></script>