<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="text-center card-header">
          <h2>Login</h2>
      </div>
      <div class="card-body">
        <form class="form login-form">
          <input class="form-control my-2" type="text" placeholder="Enter Email" id="email-login" />
          <input class="form-control my-2" type="password" placeholder="Enter Password" id="password-login" />
          <div class="form-group">
            <button class="btn btn-secondary my-2" id = "adminLoginButton" type = "button">Submit</button>
          </div>
        </form>
      </div>
    </div>  
  </div>

<script src="/js/adminlogin.js"></script>
