<nav>
    <button class="btn btn-primary" type="submit" id = "Back">Back</button>
</nav>
<body>
  <table class = "table" id = "table">
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Edition</th>
            <th>Price</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Delete</th>
        </tr>
        <tbody id="bookTable">

        </tbody>
    </table>
</body>
<script type="text/javascript" src="../js/bookcatalog.js"></script>