<div>
    <h2 class = "badge-secondary" style = "position: relative; top: 50px; border-radius: 3px">Patron</h2>
    <img src="./assets/images/patronimage.jpg" alt="patron-login" class="img-fluid img-thumbnail homeimg" id="patron-login-img">
</div>
<div>
    <h2 class = "badge-secondary" style = "position: relative; top: 50px; border-radius: 3px">Admin</h2>
    <img src="./assets/images/libraryhero.jpg" alt="admin-login" class="img-fluid img-thumbnail homeimg" id="admin-login-img">
</div>

<script type="text/javascript" src="../js/home.js"></script>


