<div>
    <h2 class = "badge-secondary" style = "position: relative; top: 50px; left: 16px;">Patron Login</h2>
    <img src="./assets/images/patronimage.jpg" alt="asdasdas" class="img-fluid img-thumbnail homeimg" id="patron-login-img">
</div>
<div>
    <h2 class = "badge-secondary" style = "position: relative; top: 50px; left: 16px;">Admin Login</h2>
    <img src="./assets/images/libraryhero.jpg" alt="asdasdas" class="img-fluid img-thumbnail homeimg" id="admin-login-img">
</div>

<script type="text/javascript" src="../js/home.js"></script>


