<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="text-center card-header">
          <h2>Login</h2>
      </div>
      <div class="card-body">
        <form class="form login-form">
          <input autocomplete="off" class="form-control my-2" type="text" placeholder="Enter Email" id="email-login" />
          <input autocomplete="off" class="form-control my-2" type="password" placeholder="Enter Password" id="password-login" />
          <div class="form-group">
            <button class="btn btn-secondary my-2" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>  
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="text-center card-header">
        <h2>Signup</h2>
      </div>
      <div class="card-body">
        <form class="form signup-form">
          <input autocomplete="off" class="form-control my-2" type="text" placeholder="Enter Name" id="name-signup" />
          <input autocomplete="off" class="form-control my-2" type="text" placeholder="Enter Email" id="email-signup" />
          <input autocomplete="off" class="form-control my-2" type="password" placeholder="Enter Password" id="password-signup" />
          <div class="form-group">
            <button class="btn btn-secondary my-2" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
