<nav>
    <button class="btn btn-primary" type="submit" id = "Back">Back</button>
</nav>
<body>
    <table class = "table" id = "table">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Delete</th>
        </tr>
        <tbody id="patronTable">

        </tbody>
    </table>
</body>
<script type="text/javascript" src="/js/patronCatalog.js"></script>
