<div class="card my-3">
    <div class="text-center card-header">
        <h2>Accurate Search Engine</h2>
    </div>
    <div class="card-body">
        <form class="form search-form">
            <div class="row g-3">
                <div class="col-md-4 my-2">
                    <input class="form-control" type="text" placeholder="Enter ISBN" name="isbn" id="isbn" autocomplete="off">
                </div>
                <div class="col-md-4 my-2">
                    <input class="form-control" type="text" placeholder="Enter Title" name="title" id="title" autocomplete="off">

                </div>
                <div class="col-md-4 my-2">
                    <input class="form-control" type="text" placeholder="Enter Author" name="author" id="author" autocomplete="off">
                </div>
                <div class="col-md-10 my-2">
                    <select class="form-control" id="subject">
                        <option value="" selected disabled hidden>Select an Option</option>
                        <option value="Drama">Drama</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Romance">Romance</option>
                        <option value="Contemporary">Contemporary</option>
                    </select>
                </div>
                <div class="col-md-2 my-2">
                    <button class="btn btn-secondary col-md-12" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div> 
</div>

    <br>

<div class="card my-3">
    <div class="text-center card-header">
        <h2>Blurry Search Engine</h2>
    </div>  
    <div class="card-body">
        <form class="form recommended-search-form">
            <div class="row g-3">
                <div class="col-md-10 my-2">
                    <input class="form-control" type="text" placeholder="Enter Title Keywords" name="keywords" id="keywords" autocomplete="off">
                </div>
                <div class="col-md-2 my-2">
                    <button class="btn btn-secondary col-md-12" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/js/search.js"></script>
